html {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: #333;
    padding-bottom: 200px;
    background-color: #335;
}

a { color: royalblue; }
a:hover { color: darkblue; }

.entry {
    border-left: 10px solid darkslateblue;
    padding: 0px 10px 0px 10px;
    border-radius: 0 30px 30px 0;
    margin-bottom: 20px;
    background-color: #aaa;
    color: #333;
}

h1 { color: royalblue; }

.entry h2 { margin: 5px auto 2px auto; }

#index { color: blueviolet; }

#index li {
    color: blueviolet;
    margin-left: 2%;
    font-weight: bold;
}

#index h2 { color: darkcyan; }

#index h3 { color: royalblue; }

#indiv {
    background-color: #aaa;
    color: #333;
    padding: 4%;
    border-radius: 10px;
}
